{
  "overrides": [
    {
      "files": ["*.sol", "test/**/*.ts"],
      "options": {
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": false,
        "bracketSpacing": true,
        "explicitTypes": "always",
        "semi": true,
        "trailingComma": "none"
      }
    }
  ]
}
